@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../packages/**/resources/views/filament/pages/*';
@source '../../../../packages/setting/resources/views/filament/pages/*';
